UID=1000
GID=1000

# SMTP configuration for email notifications
# Set SMTP_SENDER to a real sender email to enable emailing. If left empty
# or set to 'sender@example.com' the emailing system will remain disabled.
SMTP_SENDER=sender@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
